[submodule "site-cookbooks/unit-test/templates/default/php-template"]
	path = site-cookbooks/unit-test/templates/default/php-template
	url = git://github.com/sebastianbergmann/php-jenkins-template.git
