[submodule "site-cookbooks/unit-test/templates/default/php-template"]
	path = site-cookbooks/unit-test/templates/default/php-template
	url = git://github.com/sebastianbergmann/php-jenkins-template.git
[submodule "cookbooks/sonar"]
	path = cookbooks/sonar
	url = git@github.com:fudriot/chef-sonar.git
